<header>
    <nav class="unique-navbar">
        <div class="logo">
            <img src="https://t3.ftcdn.net/jpg/05/07/66/58/360_F_507665856_dFXIKJJ4SwROG0df8GNPBhqsZV44p6jn.jpg" alt="E-Learning Logo" class="logo-img">
            <h2>E-Learning</h2>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="registration" id="registration-link">Registration</a></li>
            <li><a href="profile" id="profile-link">Student Profile</a></li>
            <li><a href="course-details" id="course-details-link">Course</a></li>
            <li><a href="about" id="about-link">About</a></li>
            <li><a href="contact" id="contact-link">Contact</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet> 

